*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
    outline: none;
    border: none;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f44764;
}
h1{
    font-size: 2.5em;
}